#displaydice {
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 163px;
}
#title {
  font-size: 100px;
  font-family: 'Diplomata SC', cursive;

}
#main {
  text-align: center;
}
.instructions {
  text-align: center;
  padding-top: 10em;
}
body {
  background-color: grey;
}
.jumbotron {
  background-color: orange;
}
.wrapper {
  width: 550px;
  height: 335px;
  border: 2px solid black;
  background-color: white;
  margin-left: 290px;
  min-height: 12px;
}
